<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/submit_binder" method="post">
        <input type="hidden" name="user_id" value="{{session['user_id']}}">
        <select name="trade" id="trade">
            <option value="">--Select an Option--</option>
            <option value="Yes">Trade</option>
            <option value="No">Set</option>
        </select>
        <input type="text" name="name" id="">
        <button type="submit">Submit</button>
    </form>
</body>
</html>