<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mdb.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/profile.css') }}">
    <title>My Virtual Binder</title>
</head>
<body>
    <div id="container">
        <div id="navbar">
            <div class="logo">
                <a href="/"><img id="logo" src="{{ url_for('static', filename='img/virtual_binder_logo.png') }}"></a>
            </div>
            <div class="registration">
                <div class="links">
                    {% if 'user_id' not in session %}
                        <a href="/profile" class="account">Account</a>
                        {% else %}
                        <a href="/search"><img id="search_ball" src="{{ url_for('static', filename='img/search_ball.gif') }}"></a>
                        <p><a href="/profile" id="profile-link">{{session['name']}}</a></p>
                        <a href="/logout" class="logout"><button type="submit" class="btn btn-danger btn-rounded" data-mdb-ripple-color="dark"><p>Log Out</p></button></a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div id="web_nav">
            <a href="/create_binder">Create a Binder</a>
            <a href="/public_trade">Public Trade</a>
            <a href="/calculator">Card Calculator</a>
        </div>
        <div id="body">
            <div class="login_box">
                {% for user in users %}
                    {% if session['user_id'] == user.id %}
                        <img class="my_icon" src="{{user.profile_icon}}" alt="profile_icon">
                    {% endif %}
                {% endfor %}
                <h2 class="username">{{session['name']}}</h2>
                <a id="edit_link" href="/edit_profile/{{session['user_id']}}"><button type="submit" class="btn btn-outline-info btn-rounded" data-mdb-ripple-color="dark"><p>Edit Profile</p></button></a></a>
                {% for user in users %}
                    {% if session['user_id'] == user.id %}
                        <div id="bio">
                            <h5 class="about_me">About Me:</h5>
                            <p>{{user.profile_bio}}</p>
                        </div>
                    {% endif %}
                {% endfor %}
                <h5>New Messages:</h5>
                {% for message in messages %}
                    {% if session['user_id'] == message.receiver_id%}
                        <div id="my_messages">
                            <div class="message_info">
                                <p>{{message.message_info}} <strong>From:</strong> <a id="user-link" href="/profile/{{message.sender_id}}"><strong>{{message.sender_name}}</strong></a></p>
                            </div>
                            <div class="delete_message">
                                <a href="/delete_message/{{message.id}}"><button id="delete-btn" type="button" class="btn btn-outline-danger btn-rounded" data-mdb-ripple-color="dark">Delete</button></a>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
                <h5>Friend Requests:</h5>
                {% for friend in friends %}
                    {% if session['user_id'] == friend.request_receiver_id and friend.request_approval == 'pending' %}
                        <div id="requests">
                            <div class="sender_name">
                                {{friend.request_sender_name}} wants to be your friend!
                            </div>
                            <div class="response">
                                <form action="/respond_request" method="post">
                                    <input type="hidden" name="request_approval" value="accepted">
                                    <input type="hidden" name="id" value="{{friend.id}}">
                                    <button id="response-btn" type="submit" class="btn btn-outline-success btn-rounded" data-mdb-ripple-color="dark">Accept</button>
                                </form>
                                <div class="delete_request">
                                    <a href="/delete_request/{{friend.id}}"><button id="delete-btn" type="button" class="btn btn-outline-danger btn-rounded" data-mdb-ripple-color="dark">Delete</button></a>
                                </div>
                            </div>
                        </div>

                    {% endif %}
                {% endfor %}
                <h5>My Friends:</h5>
                {% for friend in friends %}
                    {% if friend.request_approval == 'accepted' and session['user_id'] == friend.request_receiver_id %}
                    <div id="friend">
                        <a id="friends_profile" href="/profile/{{friend.request_sender_id}}">{{friend.request_sender_name}}</a>
                        <div class="delete_request">
                            <a href="/delete_request/{{friend.id}}"><button id="delete-btn" type="button" class="btn btn-outline-danger btn-rounded" data-mdb-ripple-color="dark">unfriend</button></a>
                        </div>
                    </div>
                    {% endif %}
                    {% if friend.request_approval == 'accepted' and session['user_id'] == friend.request_sender_id %}
                        <a id="friends_profile" href="/profile/{{friend.request_receiver_id}}">{{friend.request_receiver_name}}</a>
                        <div class="delete_request">
                            <a href="/delete_request/{{friend.id}}"><button id="delete-btn" type="button" class="btn btn-outline-danger btn-rounded" data-mdb-ripple-color="dark">unfriend</button></a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div id="profile-body">
                <h1 id="title">Trade Binders</h1>
                <div id="trade-body">
                    {% for binder in binders %}
                        {% if session['user_id'] == binder.user_id and binder.trade == "Yes" %}
                            <div id="parent-trade">
                                <div class="trade">
                                    <a href="/show_binder/{{binder.id}}"><img id="body-binders" src="{{ url_for('static', filename='img/trade_binder.png') }}" alt=""></a>
                                    <h5>{{binder.name}}</h5>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div id="horizontal-line"></div>
                <h1 id="title">Set Binders</h1>
                <div id="set-body">
                    {% for binder in binders %}
                        {% if session['user_id'] == binder.user_id and binder.trade == "No" %}
                            <div id="parent-set">
                                <div class="set">
                                    <a href="/show_binder/{{binder.id}}"><img id="body-binders" src="{{ url_for('static', filename='img/tracking_binder.png') }}" alt="{{binder.name}}"></a>
                                    <h5>{{binder.name}}</h5>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='javascript/main.js') }}"></script>
</body>
</html>
        