*{
    margin: 0;
    padding: 0;
}

#container{
    width: inherit;
    margin: auto;
    background-color: rgb(231, 231, 231);
}

#navbar{
    height: 100px;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    background-color: rgb(231, 231, 231);
}

.logo > a{
    margin-left: 50px;
}

a > img{
    width: 250px;
}

#card-pic{
    width: 215px;
    height: 300px;
}