*{
    margin: 0;
    padding: 0;
}

#container{
    width: inherit;
    margin: auto;
}

#navbar{
    height: 155px;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    background-color: rgb(231, 231, 231);
}

.logo > a{
    margin-left: 50px;
}

#logo{
    width: 150px;
}

#search_bar{
    width: inherit;
    height: 35px;
    border-radius: 5px;
    margin-right: 15px;
}

.registration{
    margin-right: 50px;
    height: 95.13px;
}

.links{
    display: flex;
    justify-content: space-between;
    margin: 30px 75px 15px 0;
    font-family: fantasy;
    font-size: large;
}

a,
a:visited,
a:hover,
a:active {
    color: white;
    text-decoration: none;
    text-align: center;
}

.account{
    background-color: rgb(50, 101, 177);
    width: 90px;
    height: 35px;
    border: 2px solid gray;
    border-radius: 5px;
    margin-left: 15px;
    margin-top: -10px;
}

#search_ball{
    width: 30px;
}

.links > p{
    margin-left: 0;
    font-size: 16pt;
}

.logout{
    margin-left: 15px;
}

button > p{
    font-size: 10pt;
    margin-bottom: 0;
}

#web_nav{
    width: inherit;
    height: 50px;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 30px;
}

#web_nav > a{
    margin-top: 12px;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}

#profile-link{
    color: black;
    text-decoration: underline;
}

#profile-link{
    color: black;
    text-decoration: underline;
    margin-left: 15px;
}

label{
    display: flex;
    width: 80px;
    margin: auto;
    justify-content: center;
    margin-bottom: 30px;
}

input[type="checkbox"]
{
    -webkit-appearance: none;
    visibility: hidden;
    display: none;
}

.check{
    position: relative;
    display: block;
    width: 80px;
    height: 40px;
    background-color: #092c3e;
    cursor: pointer;
    border-radius: 20px;
    overflow: hidden;
    transition: ease-in 0.5s;
}

input[type="checkbox"]:checked ~ .check
{
    background: #fff;
    box-shadow: 0 0 0 5000px #092c3e
}

.check:before 
{
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    background: #fff;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    transition: 0.5s;
}

input[type="checkbox"]:checked ~ .check:before
{
    transform: translateX(-50px);
}

.check:after 
{
    content: '';
    position: absolute;
    top: 2px;
    right: 3px;
    background: #092c3e;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    transition: 0.5s;
    transform: translateX(50px);

}

input[type="checkbox"]:checked ~ .check:after
{
    transform: translateX(0px);
}

#mainBody{
    width: inherit;
    height: 1500px;
}

#card{
    width: 1024px;
    height: 100px;
    margin: auto;
    margin-bottom: 15px;
    background-color: rgb(206, 220, 233);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 3px solid gray;
    box-shadow: 0px 0px 3px 0px rgb(90, 90, 90);
}

#type{
    width: 200px;
    margin-left: 50px;
}

#quantity{
    width: 200px;
}

#price{
    width: 75px;
}

#submit{
    width: 125px;
    margin-bottom: 10px;
    cursor: pointer;
}

#total{
    display: flex;
    width: 200px;
    align-items: center;
}

#submit > img{
    height: 65px;
}

h1 > img{
    height: 106px;
}

#firstPokeballs{
    margin-right: 72px;
}

#grandTotal{
    width: 1024px;
    height: 100px;
    margin: auto;
    margin-bottom: 15px;
    background-color: rgb(206, 220, 233);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 3px solid gray;
    box-shadow: 0px 0px 3px 0px rgb(90, 90, 90);
}

#grandQuantity{
    width: 200px;
}

#money{
    height: 15px;
}

#cardTotal{
    height: 0px;
    font-size: large;
    margin-bottom: 10px;
}

#extraMoney{
    margin-left: 45px;
}

#resultExtraTotal{
    color: #ff0d0b;
}

/* -----ALERT BOX----- */

#alertBox{
    width: 1000px;
    height: 98px;
    background-color: black;
    border: 2px solid black;
    box-shadow: 4px 4px 4px 4px lightslategrey;
    bottom: 80px;
    display: flex;
    margin: auto;
    margin-bottom: 34px;

}

#alertBox > h1{
    font-size: 16pt;
    margin-top: 25px;
    color: white;
}

.alert{
    height: 100px;
}

.more{
    color: rgb(90, 190, 255);
    text-decoration: underline;
}

.button{
    width: 225px;
    height: 40px;
    color: black;
    background-color: rgb(90, 190, 255);
    font-size: 11pt;
    box-shadow: 4px 4px 4px black;
    margin: 30px 30px 0px 30px;
    cursor: pointer;
    border-radius: 30px;
}

.cookie{
    text-decoration: underline;
    color: rgb(90, 190, 255);
    margin-left: 0px;
}

/* -----END ALERT BOX----- */

#original{
    font-size: 1.17em;
    margin-top: 15px;

}

#quantity > h3{
    height: 0;
    width: 0;
    color: rgb(206, 220, 233);
}

#price > h3{
    font-size: 1.17em;
    margin-top: 15px;
}

#total > h3{
    font-size: 1.17em;
    margin-top: 10px;
}

#resultGrandTotal{
    margin-right: 15px;
}