*{
    margin: 0;
    padding: 0;
}

#container{
    width: inherit;
    margin: auto;
}

#navbar{
    height: 155px;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    background-color: rgb(231, 231, 231);
}

.logo > a{
    margin-left: 50px;
}

#logo{
    width: 150px;
}

#search_bar{
    width: inherit;
    height: 35px;
    border-radius: 5px;
    margin-right: 15px;
}

.registration{
    margin-right: 50px;
}

.links{
    display: flex;
    justify-content: space-between;
    margin: 30px 75px 15px 0;
    font-family: fantasy;
    font-size: large;
}

a,
a:visited,
a:hover,
a:active {
    color: white;
    text-decoration: none;
    text-align: center;
}

.account{
    background-color: rgb(50, 101, 177);
    width: 90px;
    height: 35px;
    border: 2px solid gray;
    border-radius: 5px;
    margin-left: 15px;
    margin-top: -10px;
}

#search_ball{
    width: 30px;
}

.links > p{
    margin-left: 0;
    font-size: 16pt;
}

.logout{
    margin-left: 15px;
}

button > p{
    font-size: 10pt;
    margin-bottom: 0;
}

#web_nav{
    width: inherit;
    height: 50px;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 15px;
}

#web_nav > a{
    margin-top: 12px;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}

#main_body{
    display: flex;
    justify-content: space-around;
    padding: 30px;
}

#profile-link{
    color: black;
    text-decoration: underline;
}

#search-body{
    background-color: white;
    padding-top: 20px;
}

#final_search{
    display: flex;
    justify-content: center;
    margin: auto;
}

.pkmn-card{
    width: 215px;
    height: 300px;
    cursor: pointer;
}

.col-auto{
    display: flex;
    margin-top: 5px;
}

.anchor{
    width: 215px;
    height: 300px;
    margin: 15px;
}

#card-pic{
    width: 430px;
    height: 600px;
}

#profile-link{
    color: black;
    text-decoration: underline;
    margin-left: 15px;
}

#card-container{
    width: inhert;
    margin: auto;
    margin-right: 0;
}

#parent-trade,
#parent-set{
    display: inline-block;
}

.trade,
.set > h5{
    text-align: center;
    font-family: fantasy;
}

#body-binders{
    width: 200px;
}

#horizontal-line{
    border-top: 2px solid black;
    width: 800px;
    margin-bottom: 30px;
    margin: auto;
}

#profile-body{
    width: 820px;
    height: 1250px;
    margin-left: 45px;
    border: 2px solid rgb(222, 222, 222);
    border-radius: 3%;
    box-shadow: 4px 4px 4px rgb(68, 68, 68);
}

#trade-body,
#set-body{
    width: 815px;
    height: 535px;
    margin-right: 30px;
}

#body{
    display: flex;
    justify-content: space-evenly;
}

#title{
    font-family: fantasy;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 15px;
    margin-top: 15px;
}

.login_box{
    width: 500px;
    /* height: 590px; */
    background-color: white;
    border: 2px solid rgb(222, 222, 222);
    border-radius: 3%;
    box-shadow: 4px 4px 4px rgb(68, 68, 68);
}

.my_icon{
    height: 150px;
    width: 150px;
    margin: 45px 0 30px 175px;
}

.username{
    font-family: fantasy;
    text-align: center;
}

#edit_link{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.about_me{
    font-family: fantasy;
}

#bio{
    margin-left: 30px;
}

#my_messages{
    display: flex;
    align-content: center;
}

.btn-outline-danger{
    width: 100px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 1px;
}

#user-link{
    color: black;
    text-decoration: underline;
}

.send_request{
    margin-left: 15px;
}

.request-btn{
    width: 45px;
    margin-top: 4px;
}

.friend_request{
    width: 30px;
}

#user_information{
    display: flex;
    justify-content: center;
}

#request_form{
    cursor: pointer;
}

#requests{
    display: flex;
}

.response{
    display: flex;
}

#friend{
    display: flex;
}

#friends_profile{
    color: black;
    text-decoration: underline;
}